In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt
import seaborn as sns

## Data from web scraping was stored in batches - This code merges them into one dataframe.

In [2]:
df1 = pd.read_csv('wta_trail_info_to_200.csv')
df2 = pd.read_csv('wta_trail_info_to_500.csv')
df3 = pd.read_csv('wta_trail_info_to_1000.csv')
df4 = pd.read_csv('wta_trail_info_to_1109.csv')
df5 = pd.read_csv('wta_trail_info_to_1300.csv')
to_connect = [df1, df2, df3, df4, df5]

df = pd.concat(to_connect)
df.head()

/home/kmussar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Coast,Dogs allowed on leash,Dogs not allowed,Established campsites,Fall foliage,Good for kids,Lakes,Mountain views,Old growth,Ridges/passes,...,gain,highest_pt,lat,long,num_reports,permit,rating,rating_count,region,trail_name
0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,47.4375,-122.0850,25.0,None,3.7,7 votes,Issaquah Alps,Spring Lake/Lake Desire Park
1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,900.0,5475.0,47.2942,-120.3987,73.0,None,3.9,15 votes,Central Washington -- Wenatchee,Clara and Marion Lakes
2,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,400.0,4500.0,47.3357,-120.5804,71.0,Sno-Parks Permit,4.1,9 votes,Central Cascades -- Blewett Pass,Wenatchee Crest Snowshoe
3,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,2050.0,-50000.0,47.6780,-120.7324,3.0,Northwest Forest Pass,2.5,2 votes,Central Cascades -- Leavenworth Area,Tumwater Campground Snowshoe
4,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,100.0,-50000.0,48.7669,-122.5163,7.0,None,3.0,3 votes,North Cascades -- Mount Baker Area,Bay to Baker Trail

In [3]:
df6 = pd.read_csv('wta_trail_info_to_1300.csv')
df7 = pd.read_csv('wta_trail_info_to_1463.csv')
df8 = pd.read_csv('wta_trail_info_to_2275.csv')
df9 = pd.read_csv('wta_trail_info_to_2999.csv')
df10 = pd.read_csv('wta_trail_info_to_3243.csv')
df11 = pd.read_csv('wta_trail_info_to_3600.csv')

In [4]:
merged_df2 = pd.concat([df,df6,df7,df8,df9,df10,df11])
merged_df2.head()

/home/kmussar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Coast,Dogs allowed on leash,Dogs not allowed,Established campsites,Fall foliage,Good for kids,Lakes,Mountain views,Old growth,Ridges/passes,...,gain,highest_pt,lat,long,num_reports,permit,rating,rating_count,region,trail_name
0,NaN,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,47.4375,-122.0850,25.0,None,3.7,7 votes,Issaquah Alps,Spring Lake/Lake Desire Park
1,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,...,900.0,5475.0,47.2942,-120.3987,73.0,None,3.9,15 votes,Central Washington -- Wenatchee,Clara and Marion Lakes
2,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,400.0,4500.0,47.3357,-120.5804,71.0,Sno-Parks Permit,4.1,9 votes,Central Cascades -- Blewett Pass,Wenatchee Crest Snowshoe
3,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,2050.0,-50000.0,47.6780,-120.7324,3.0,Northwest Forest Pass,2.5,2 votes,Central Cascades -- Leavenworth Area,Tumwater Campground Snowshoe
4,NaN,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,100.0,-50000.0,48.7669,-122.5163,7.0,None,3.0,3 votes,North Cascades -- Mount Baker Area,Bay to Baker Trail

In [5]:
merged_df2 = merged_df2.fillna(0)
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3799 entries, 0 to 357
Data columns (total 28 columns):
Coast                    3799 non-null float64
Dogs allowed on leash    3799 non-null float64
Dogs not allowed         3799 non-null float64
Established campsites    3799 non-null float64
Fall foliage             3799 non-null float64
Good for kids            3799 non-null float64
Lakes                    3799 non-null float64
Mountain views           3799 non-null float64
Old growth               3799 non-null float64
Ridges/passes            3799 non-null float64
Rivers                   3799 non-null float64
Summits                  3799 non-null float64
Unnamed: 0               3799 non-null int64
Waterfalls               3799 non-null float64
Wildflowers/Meadows      3799 non-null float64
Wildlife                 3799 non-null float64
distance_how             3799 non-null object
distance_mi              3799 non-null object
gain                     3799 non-null float64
highest_pt               3799 non-null float64
lat                      3799 non-null float64
long                     3799 non-null float64
num_reports              3799 non-null float64
permit                   3799 non-null object
rating                   3799 non-null float64
rating_count             3799 non-null object
region                   3799 non-null object
trail_name               3799 non-null object
dtypes: float64(21), int64(1), object(6)
memory usage: 860.7+ KB

In [6]:
merged_df2.to_csv('all_wta_data_fillna0.csv')

## Load df

In [7]:
df = pd.read_csv('all_wta_data_fillna0.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 29 columns):
Unnamed: 0               3799 non-null int64
Coast                    3799 non-null float64
Dogs allowed on leash    3799 non-null float64
Dogs not allowed         3799 non-null float64
Established campsites    3799 non-null float64
Fall foliage             3799 non-null float64
Good for kids            3799 non-null float64
Lakes                    3799 non-null float64
Mountain views           3799 non-null float64
Old growth               3799 non-null float64
Ridges/passes            3799 non-null float64
Rivers                   3799 non-null float64
Summits                  3799 non-null float64
Unnamed: 0.1             3799 non-null int64
Waterfalls               3799 non-null float64
Wildflowers/Meadows      3799 non-null float64
Wildlife                 3799 non-null float64
distance_how             3799 non-null object
distance_mi              3799 non-null object
gain                     3799 non-null float64
highest_pt               3799 non-null float64
lat                      3799 non-null float64
long                     3799 non-null float64
num_reports              3799 non-null float64
permit                   3799 non-null object
rating                   3799 non-null float64
rating_count             3799 non-null object
region                   3799 non-null object
trail_name               3799 non-null object
dtypes: float64(21), int64(2), object(6)
memory usage: 860.8+ KB

In [9]:
null_counts = df.isnull().sum()
null_counts

Unnamed: 0               0
Coast                    0
Dogs allowed on leash    0
Dogs not allowed         0
Established campsites    0
Fall foliage             0
Good for kids            0
Lakes                    0
Mountain views           0
Old growth               0
Ridges/passes            0
Rivers                   0
Summits                  0
Unnamed: 0.1             0
Waterfalls               0
Wildflowers/Meadows      0
Wildlife                 0
distance_how             0
distance_mi              0
gain                     0
highest_pt               0
lat                      0
long                     0
num_reports              0
permit                   0
rating                   0
rating_count             0
region                   0
trail_name               0
dtype: int64

In [10]:
df['subregion']= df['region']
df['subregion'] = df['region'].apply(lambda x: x.split("--"))
df['subregion'] = df['subregion'].apply(lambda x: x[1] if len(x)>1 else 0)
df['subregion'].head()

0                    0
1            Wenatchee
2         Blewett Pass
3     Leavenworth Area
4     Mount Baker Area
Name: subregion, dtype: object

In [11]:
df['region'] = df['region'].apply(lambda x: x.split("--"))
df['region'] = df['region'].apply(lambda x: x[0] if len(x) >= 1 else 0)
df['region'].head()

0          Issaquah Alps
1    Central Washington
2      Central Cascades
3      Central Cascades
4        North Cascades
Name: region, dtype: object

In [12]:
df['distance_mi'] = df['distance_mi'].apply(lambda x: str(x)[:4])
df['distance_mi'] = pd.to_numeric(df['distance_mi'])
df['distance_mi'].head(5)

0    3.0
1    3.2
2    6.0
3    0.0
4    3.0
Name: distance_mi, dtype: float64

In [13]:
##Intriguing, there are some repeated trail names 
df['trail_name'] =df['trail_name'].str.strip()
df['trail_name'].nunique()

3508

In [14]:
df['distance_how'] = df['distance_how'].str.strip()
df['distance_how'].unique()

array(['roundtrip', '0', 'one-way', '10.0 miles of trails',
       '2.2 miles of trails', '12.0 miles of trails',
       '19.0 miles of trails', '23.0 miles of trails',
       '3.0 miles of trails', '2.5 miles of trails',
       '0.5 miles of trails', '1.5 miles of trails',
       '2.0 miles of trails', '5.0 miles of trails',
       '8.0 miles of trails', '4.0 miles of trails',
       '8.7 miles of trails', '6.5 miles of trails',
       '6.0 miles of trails', '7.0 miles of trails',
       '30.0 miles of trails', '4.85 miles of trails',
       '1.9 miles of trails', '35.0 miles of trails',
       '1.2 miles of trails', '2.8 miles of trails',
       '1.0 miles of trails', '9.0 miles of trails',
       '3.5 miles of trails', '4.75 miles of trails',
       '20.0 miles of trails', '13.0 miles of trails',
       '25.0 miles of trails', '3.3 miles of trails',
       '5.7 miles of trails', '1.4 miles of trails',
       '0.66 miles of trails', '1.8 miles of trails',
       '15.0 miles of trails', '2.7 miles of trails'], dtype=object)

In [15]:
df['rating_count'] = df['rating_count'].apply(lambda x: str(x).split(' ')[0])
df['rating_count'] = pd.to_numeric(df['rating_count'])
df['rating_count'].head()

0     7
1    15
2     9
3     2
4     3
Name: rating_count, dtype: int64

In [16]:
df['rating'] = pd.to_numeric(df['rating'])
df['rating'].head()

0    3.7
1    3.9
2    4.1
3    2.5
4    3.0
Name: rating, dtype: float64

In [17]:
# permit
df['permit'] = df['permit'].str.strip()
df['permit']=df['permit'].apply(lambda x: str(x).replace('0','None'))
df['permit'].unique()

array(['None', 'Sno-Parks Permit', 'Northwest Forest Pass',
       'Discover Pass', 'National Park Pass', 'Refuge Entrance Pass',
       'National Monument Fee', 'Discover Pass, Refuge Entrance Pass',
       'National Park Pass, Northwest Forest Pass',
       'Oregon State Parks Day-Use', 'None, Northwest Forest Pass',
       'National Monument Fee, Sno-Parks Permit',
       'Discover Pass, Sno-Parks Permit',
       'Northwest Forest Pass, Sno-Parks Permit'], dtype=object)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 30 columns):
Unnamed: 0               3799 non-null int64
Coast                    3799 non-null float64
Dogs allowed on leash    3799 non-null float64
Dogs not allowed         3799 non-null float64
Established campsites    3799 non-null float64
Fall foliage             3799 non-null float64
Good for kids            3799 non-null float64
Lakes                    3799 non-null float64
Mountain views           3799 non-null float64
Old growth               3799 non-null float64
Ridges/passes            3799 non-null float64
Rivers                   3799 non-null float64
Summits                  3799 non-null float64
Unnamed: 0.1             3799 non-null int64
Waterfalls               3799 non-null float64
Wildflowers/Meadows      3799 non-null float64
Wildlife                 3799 non-null float64
distance_how             3799 non-null object
distance_mi              3799 non-null float64
gain                     3799 non-null float64
highest_pt               3799 non-null float64
lat                      3799 non-null float64
long                     3799 non-null float64
num_reports              3799 non-null float64
permit                   3799 non-null object
rating                   3799 non-null float64
rating_count             3799 non-null int64
region                   3799 non-null object
trail_name               3799 non-null object
subregion                3799 non-null object
dtypes: float64(22), int64(3), object(5)
memory usage: 890.5+ KB

In [19]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'],axis=1,inplace=True)

In [20]:
# Save file
df.to_csv('new_wta_trail_info_cleaned_all_data.csv')

In [22]:
df = pd.read_csv('new_wta_trail_info_cleaned_all_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 29 columns):
Unnamed: 0               3799 non-null int64
Coast                    3799 non-null float64
Dogs allowed on leash    3799 non-null float64
Dogs not allowed         3799 non-null float64
Established campsites    3799 non-null float64
Fall foliage             3799 non-null float64
Good for kids            3799 non-null float64
Lakes                    3799 non-null float64
Mountain views           3799 non-null float64
Old growth               3799 non-null float64
Ridges/passes            3799 non-null float64
Rivers                   3799 non-null float64
Summits                  3799 non-null float64
Waterfalls               3799 non-null float64
Wildflowers/Meadows      3799 non-null float64
Wildlife                 3799 non-null float64
distance_how             3799 non-null object
distance_mi              3799 non-null float64
gain                     3799 non-null float64
highest_pt               3799 non-null float64
lat                      3799 non-null float64
long                     3799 non-null float64
num_reports              3799 non-null float64
permit                   3799 non-null object
rating                   3799 non-null float64
rating_count             3799 non-null int64
region                   3799 non-null object
trail_name               3799 non-null object
subregion                3799 non-null object
dtypes: float64(22), int64(2), object(5)
memory usage: 860.8+ KB

## Dummy variables

In [23]:
df['region'] = df['region'].str.strip()
df['region'].unique()

array(['Issaquah Alps', 'Central Washington', 'Central Cascades',
       'North Cascades', 'Snoqualmie Region', 'Southwest Washington',
       'South Cascades', 'Olympic Peninsula', 'Puget Sound and Islands',
       'Eastern Washington', 'Mount Rainier Area', '0'], dtype=object)

In [24]:
# region 
df2 = pd.get_dummies(df['region'],drop_first=True)
df2.head()

,Central Cascades,Central Washington,Eastern Washington,Issaquah Alps,Mount Rainier Area,North Cascades,Olympic Peninsula,Puget Sound and Islands,Snoqualmie Region,South Cascades,Southwest Washington
0,0,0,0,1,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0

In [25]:
# permit
df['permit'] = df['permit'].str.strip()
df3 = pd.get_dummies(df['permit'],drop_first=True)
df3.head()

,"Discover Pass, Refuge Entrance Pass","Discover Pass, Sno-Parks Permit",National Monument Fee,"National Monument Fee, Sno-Parks Permit",National Park Pass,"National Park Pass, Northwest Forest Pass",None,"None, Northwest Forest Pass",Northwest Forest Pass,"Northwest Forest Pass, Sno-Parks Permit",Oregon State Parks Day-Use,Refuge Entrance Pass,Sno-Parks Permit
0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,0,0,0

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 13 columns):
Discover Pass, Refuge Entrance Pass          3799 non-null uint8
Discover Pass, Sno-Parks Permit              3799 non-null uint8
National Monument Fee                        3799 non-null uint8
National Monument Fee, Sno-Parks Permit      3799 non-null uint8
National Park Pass                           3799 non-null uint8
National Park Pass, Northwest Forest Pass    3799 non-null uint8
None                                         3799 non-null uint8
None, Northwest Forest Pass                  3799 non-null uint8
Northwest Forest Pass                        3799 non-null uint8
Northwest Forest Pass, Sno-Parks Permit      3799 non-null uint8
Oregon State Parks Day-Use                   3799 non-null uint8
Refuge Entrance Pass                         3799 non-null uint8
Sno-Parks Permit                             3799 non-null uint8
dtypes: uint8(13)
memory usage: 48.3 KB

In [27]:
master_df = pd.concat([df,df2,df3],axis=1)
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 53 columns):
Unnamed: 0                                   3799 non-null int64
Coast                                        3799 non-null float64
Dogs allowed on leash                        3799 non-null float64
Dogs not allowed                             3799 non-null float64
Established campsites                        3799 non-null float64
Fall foliage                                 3799 non-null float64
Good for kids                                3799 non-null float64
Lakes                                        3799 non-null float64
Mountain views                               3799 non-null float64
Old growth                                   3799 non-null float64
Ridges/passes                                3799 non-null float64
Rivers                                       3799 non-null float64
Summits                                      3799 non-null float64
Waterfalls                                   3799 non-null float64
Wildflowers/Meadows                          3799 non-null float64
Wildlife                                     3799 non-null float64
distance_how                                 3799 non-null object
distance_mi                                  3799 non-null float64
gain                                         3799 non-null float64
highest_pt                                   3799 non-null float64
lat                                          3799 non-null float64
long                                         3799 non-null float64
num_reports                                  3799 non-null float64
permit                                       3799 non-null object
rating                                       3799 non-null float64
rating_count                                 3799 non-null int64
region                                       3799 non-null object
trail_name                                   3799 non-null object
subregion                                    3799 non-null object
Central Cascades                             3799 non-null uint8
Central Washington                           3799 non-null uint8
Eastern Washington                           3799 non-null uint8
Issaquah Alps                                3799 non-null uint8
Mount Rainier Area                           3799 non-null uint8
North Cascades                               3799 non-null uint8
Olympic Peninsula                            3799 non-null uint8
Puget Sound and Islands                      3799 non-null uint8
Snoqualmie Region                            3799 non-null uint8
South Cascades                               3799 non-null uint8
Southwest Washington                         3799 non-null uint8
Discover Pass, Refuge Entrance Pass          3799 non-null uint8
Discover Pass, Sno-Parks Permit              3799 non-null uint8
National Monument Fee                        3799 non-null uint8
National Monument Fee, Sno-Parks Permit      3799 non-null uint8
National Park Pass                           3799 non-null uint8
National Park Pass, Northwest Forest Pass    3799 non-null uint8
None                                         3799 non-null uint8
None, Northwest Forest Pass                  3799 non-null uint8
Northwest Forest Pass                        3799 non-null uint8
Northwest Forest Pass, Sno-Parks Permit      3799 non-null uint8
Oregon State Parks Day-Use                   3799 non-null uint8
Refuge Entrance Pass                         3799 non-null uint8
Sno-Parks Permit                             3799 non-null uint8
dtypes: float64(22), int64(2), object(5), uint8(24)
memory usage: 949.8+ KB

In [29]:
master_df['num_features']= (df['Coast'] + df['Dogs allowed on leash'] + 
                     df['Dogs not allowed'] + df['Established campsites'] + 
                     df['Fall foliage'] + df['Good for kids'] + df['Lakes']+ 
                     df['Mountain views'] + df['Old growth'] + df['Ridges/passes']+ 
                     df['Rivers'] + df['Summits']+ df['Waterfalls']+ 
                     df['Wildflowers/Meadows'] + df['Wildlife'])
master_df['num_features'].head()

0    5.0
1    4.0
2    2.0
3    3.0
4    6.0
Name: num_features, dtype: float64

In [30]:
master_df.to_csv('all_wta_trail_info_engineered.csv')
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3799 entries, 0 to 3798
Data columns (total 54 columns):
Unnamed: 0                                   3799 non-null int64
Coast                                        3799 non-null float64
Dogs allowed on leash                        3799 non-null float64
Dogs not allowed                             3799 non-null float64
Established campsites                        3799 non-null float64
Fall foliage                                 3799 non-null float64
Good for kids                                3799 non-null float64
Lakes                                        3799 non-null float64
Mountain views                               3799 non-null float64
Old growth                                   3799 non-null float64
Ridges/passes                                3799 non-null float64
Rivers                                       3799 non-null float64
Summits                                      3799 non-null float64
Waterfalls                                   3799 non-null float64
Wildflowers/Meadows                          3799 non-null float64
Wildlife                                     3799 non-null float64
distance_how                                 3799 non-null object
distance_mi                                  3799 non-null float64
gain                                         3799 non-null float64
highest_pt                                   3799 non-null float64
lat                                          3799 non-null float64
long                                         3799 non-null float64
num_reports                                  3799 non-null float64
permit                                       3799 non-null object
rating                                       3799 non-null float64
rating_count                                 3799 non-null int64
region                                       3799 non-null object
trail_name                                   3799 non-null object
subregion                                    3799 non-null object
Central Cascades                             3799 non-null uint8
Central Washington                           3799 non-null uint8
Eastern Washington                           3799 non-null uint8
Issaquah Alps                                3799 non-null uint8
Mount Rainier Area                           3799 non-null uint8
North Cascades                               3799 non-null uint8
Olympic Peninsula                            3799 non-null uint8
Puget Sound and Islands                      3799 non-null uint8
Snoqualmie Region                            3799 non-null uint8
South Cascades                               3799 non-null uint8
Southwest Washington                         3799 non-null uint8
Discover Pass, Refuge Entrance Pass          3799 non-null uint8
Discover Pass, Sno-Parks Permit              3799 non-null uint8
National Monument Fee                        3799 non-null uint8
National Monument Fee, Sno-Parks Permit      3799 non-null uint8
National Park Pass                           3799 non-null uint8
National Park Pass, Northwest Forest Pass    3799 non-null uint8
None                                         3799 non-null uint8
None, Northwest Forest Pass                  3799 non-null uint8
Northwest Forest Pass                        3799 non-null uint8
Northwest Forest Pass, Sno-Parks Permit      3799 non-null uint8
Oregon State Parks Day-Use                   3799 non-null uint8
Refuge Entrance Pass                         3799 non-null uint8
Sno-Parks Permit                             3799 non-null uint8
num_features                                 3799 non-null float64
dtypes: float64(23), int64(2), object(5), uint8(24)
memory usage: 979.5+ KB

# Pickle

In [31]:
with open('all_trails_engineered.pickle', 'wb') as to_write:
    pickle.dump(master_df, to_write)